html, body, main {
    height: 100%;
}

.biege {
    background-color: #e6daa6;
}

.brown {
    background-color: #964b00;
}

.cyan {
    background-color: #42aaff;
}

.emerald {
    background-color: #50c878;
    color: #e6daa6;
    text-shadow: 1px 0px 1px #000, -1px 0px 1px #000, 0px -1px 1px #000, 0px 1px 1px #000;
}

.page-link {
    cursor: pointer;
}

#icon {
    color: #fff;
}

.descript {
    font-size: 14px;
}